*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.keystore
**/*.aab
**/*.apk

# IDE and Temp
.vscode/
.kotlin/
.idea/
*.log

# Build outputs and reports
/app/release/
*.hprof
build/
*.tmp

# Logs and temporary files
build_log.txt
logs.txt
*.txt.bak

.fusion/
.worktrees/
